.content {
  background-color: #d9d9d9;
  padding: 24px;
  color: black;
  min-height: 100%;
  font-family: "Montserrat", sans-serif !important;

  .data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 10px;

    ion-icon {
      font-size: 22px;
    }

    p {
      padding: 0;
    }
  }
  .card {
    border-radius: 10px;
    background-color: white;
    padding: 24px;
    margin-bottom: 8px;

    &_dates {
      margin-bottom: 8px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 5px;
      
      span {
        font-size: 10px;
        font-style: italic;
        color: #122959;
        margin-left: 15px;
      }

      ion-icon {
        font-size: 22px;
      }

      h2 {
        font-weight: bold;
      }
    }

    h2,
    p {
      font-size: 16px;
      margin: 0;
    }
  }
}

.header {
  width: 100%;
  height: 227px;
  background: linear-gradient(#020b2a 34%, #122959 73%, #4e75a4 100%);
  border-radius: 0 0 20px 20px;
  padding: 0 0 16px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif !important;

  .name-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    ion-icon {
      font-size: 30px;
      position: absolute;
      left: 16px;
    }
    margin-bottom: 24px;
    h2 {
      margin: 0;
      font-weight: bold;
      font-size: 24px;
    }
  }

  .gender-age {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 16px 0 12px 0;
    font-size: 18px;
  }
  p {
    margin: 0;
  }
  .aluno-desde {
    font-size: 14px;
    font-style: italic;
  }

  ion-thumbnail {
    --size: 140px;
    --border-radius: 100px;
  }

  .unread-indicator {
    background: white;

    width: 5px;
    height: 5px;

    border-radius: 100%;

    inset-inline-start: 12px;
    top: 12px;
  }
}
