.header {
  width: 100%;
  height: 400px;
  background: linear-gradient(#020b2a 34%, #122959 73%, #4e75a4 100%);
  border-radius: 0 0 20px 20px;
  padding: 102px 0 0 0;
  flex-direction: column;
  color: white;
  text-align: center;

  .avatar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 48px;
   

    ion-avatar {
      width: 290px;
      display: flex;
      align-items: center;
      gap: 14px;
      ion-icon {
         font-size: 40px;
      }

      p {
        font-size: 20px;
        font-weight: 600;
         font-family: "Montserrat", sans-serif;
      }
    }
  }
}

.content {
  background-color: #c7cfd9;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;

  .button {
    width: 345px;
    height: 57px;
    margin-top: 8px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    padding: 0 0 0 24px;
    justify-content: start;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    img {
      font-size: 26px;
      margin-right: 8px;
    }

    .img {
      position: relative;
      top: 4px;
      margin-right: 4px;
    }
  }

  .button:nth-child(1) {
    margin-top: 58px;
  }
  .button:nth-child(3) {
    padding: 0 0 0 20px;
  }
}
