/* add-entry-modal.component.scss */
main {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.modal-content {
  background: #fff;
  border-radius: 18px;
  padding: 32px 25px;
  height: 475px;
  width: 345px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  color: #0b1d3a;
  text-align: center;
  margin: 0 0 25px 0;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.sectionDualInputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  div {
    width: 47%;
  }
}

label {
  margin-left: 5px;
  font-size: 14px;
  color: black;
}

.form-list {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 14px;

  input {
    background: #fff;
    border-radius: 8px;
    padding-left: 12px;
    min-height: 40px;
    border: solid 1px;
    margin-top: 4px;
  }
}

.dualRadio {

  label {font-size: 13px;}
  .radio {
    display: flex;
    align-items: center;
    gap: 12px;
    input {
      margin: 0;
    }
  }

  .radioSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;

    select {
      background: #D9D9D9;
      color: #00061c;
      border-radius: 40px;
      // padding: 8px;
      height: 30px;
      width: 98px;
      border: none;
      padding-left: 10px;
    }
  }
}

/* action buttons */
.actions {
  display: flex;
  justify-content: space-between;
  
  button {
    border-radius: 10px;
    height: 45px;
  }
  .cancel {
    width: 42%;
    color: #020B2A;
    background-color: #D9D9D9;
  }
  .adicionar {
    background: #00061C;
    color: #fff;
    width: 52%;
    
  }
}

.adicionar {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.adicionar.disabled,
.adicionar:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}